@media only screen and (min-width: 0px) and (min-width: 680px) {
  .box-mobile {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 680px) {
  #box-logo {
    width: 100% !important;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5555;
    width: 100%;
    height: 90px;
    background: url(../imagens/bk-header.png) 50% 0 no-repeat;
    padding: 0;
    margin: 0;
  }
  #box-logo h1 a {
    width: 100px !important;
    height: 44px !important;
    left: 50% !important;
    margin-left: -50px !important;
    margin: none !important;
    background: url(../imagens/logo-portodomanso-mobile.png) no-repeat;
  }
  #box-logo nav {
    width: 100% !important;
    height: 20px !important;
    float: left;
    margin-top: 2% !important;
    margin-left: 0px !important;
  }
  #box-logo nav ul {
    width: 300px;
    margin: 0 auto !important;
    float: none !important;
  }
  #box-logo nav ul li a {
    font-size: 9px;
    padding: 5px 3px 5px 3px !important;
    margin: 0 !important;
  }
  .box-home {
    width: 100% !important;
    left: 0% !important;
    margin: 90px 0 0 0px !important;
  }
  .tt-box h2 {
    width: 100% !important;
    padding: 0;
    margin: 0 0 0 0;
    position: relative;
    float: left;
    background-color: #48c2c3;
    padding: 7px 0 5px 0;
    text-align: left;
    color: #15375c;
    font-size: 10px;
    text-indent: 20px;
  }
  .blueberry .slides li img {
    max-width: 100% !important;
  }
  .blueberry .pager li {
    display: inline-block;
  }
  .blueberry .pager li a,
  .blueberry .pager li a span {
    display: block;
    height: 10px !important;
    width: 10px !important;
  }
  .blueberry .pager li a {
    padding: 10px 8px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .box-mobile img {
    max-width: 100%;
    float: left;
    padding-bottom: 15px;
  }
  .box-mobile h2 {
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    position: relative;
    float: left;
    background-color: #48c2c3;
    padding: 7px 0 5px 0;
    text-align: left;
    color: #15375c;
    font-size: 10px;
    text-indent: 20px;
  }
  #a-localizacao,
  #a-projeto,
  #a-seguranca-lazer {
    display: none;
  }
  #a-contato {
    width: 100%;
    float: left;
    position: relative;
    background-color: #15375c;
  }
  .box-contato {
    width: 100% !important;
    min-width: 100% !important;
    margin-top: 10px !important;
    position: relative;
    float: left;
  }
  .box-contato-form {
    width: 100% !important;
    left: 0% !important;
    margin: 10px 0 0 0px !important;
    float: left;
    position: relative;
  }
  .box-contato-form form {
    width: 100% !important;
    margin-right: 0px !important;
    float: right;
  }
  .box-contato-form form input,
  .box-contato-form form textarea {
    width: 97% !important;
    font-family: "FuturaStd-Light";
    padding: 1px 0 1px 5px;
    height: 30px;
    font-size: 15px;
    border: solid 1px #6f8093;
  }
  .box-contato-form form textarea {
    height: 120px !important;
  }
  .statusemail {
    margin-top: 10px;
  }
  .statusMensagem {
    margin-top: 10px;
  }
  .box-contato-form form small {
    font-size: 10px;
    color: #6f8093;
    padding: 2px 0 2px 0;
    display: block;
  }
  .enviar {
    width: 88% !important;
    background-color: #f4f4f4;
    text-transform: uppercase;
    border: solid 1px #6f8093;
    color: #6f8093;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-family: "FuturaStd-Light";
    padding: 5% 5% 5% 5%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
  }
  .info-form {
    width: 100% !important;
    float: left;
    margin-bottom: 20px;
  }
  .info-form figure figcaption {
    font-size: 15px !important;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-indent: 20px;
    padding: 6px 0 6px 0;
  }
  .box_desk {
    display: none;
  }

  .box-contato-obrigado {
    width: 100%;
    margin: 20% auto 0;
    left: auto;
    position: relative;
    float: left;
  }
  .box-contato-obrigado p {
    color: #15375c;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
  .box-regiao {
    width: 100%;
    margin: 0 auto 0px;
    position: relative;
  }
  .cookies .box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: bottom;
    align-items: center;
  }
  .cookies .box .box-cookies .box-text,
  .cookies .box .box-cookies .box-btn {
    display: block;
  }
  .cookies .box .box-cookies .btn_cookie {
    display: block;
    margin: 0 auto 20px;
  }
} /*End Mobile Styles*/
